fastapi
uvicorn
python-multipart

react

pandas
numpy

scikit-learn
joblib

torch
transformers
datasets
accelerate
evaluate

sentence-transformers

PyPDF2
pdfplumber
python-docx

matplotlib

python-dotenv
openai
